<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <script src="../angular.min.js"></script>

    <body ng-controller="pessoasController as vm">
        <h1 ng-model="vm.title"></h1>

        <input type="text" ng-model="vm.nome">
        {{vm.nome | noString}}
    </body>

    <script type="text/javascript">
        angular.module('app' , [])
            .filter('noString' , function () {
                return function (texto) {
                    return texto != undefined ? texto.replace(/\D/g , '') : texto;
                }
            })
            .controller('pessoasController' , pessoasController);

        function pessoasController($scope) {
            var vm = this;
            vm.title = 'EstagCurso2000';
        }


    </script>
</html>
