<html ng-app='app'>

	<head> 	</head>
	<script src="../angular.min.js"></script>
	<body ng-controller = "pessoaController as ctrl">
		<h1> {{ctrl.title}} </h1>
		<input ng-model="ctrl.nome"/>
		{{ctrl.nome | noString}}
		<br>
		<br>
		<input ng-model="searchPessoa"/>
		<ul>
			<li ng-repeat = "pessoa in ctrl.listaPessoas | filter:searchPessoa" ng-click="ctrl.deletaPessoa($index)">{{$index}} - {{pessoa}}</li>

		</ul>
	</body>

	<script> 
	   angular.module('app',[])
	   .filter('noString',function(){
	   		return function(texto){
	  	  		return texto != undefined ? texto.replace(/\D/g,'') : texto;
	   		}
	   })
	   .controller('pessoaController', pessoaController);

	   function pessoaController($scope){
	   		var vm = this;
	   		vm.title = 'EstagCurso2000';
	   		vm.listaPessoas=['joao','matheus','guimas','rafael','vitor'];
	   		vm.deletaPessoa = function(index){
	   			vm.listaPessoas = vm.listaPessoas.filter(function(param){
	   				if (param != vm.listaPessoas[index])
	   					return param;
	   			});
	   		}
	   }

	
	</script>

</html>
 
